h2 {
  text-align: center;
  font-weight: bold;
  margin-bottom: 3rem;
}

.boton {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.icons {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.boton a {
  color: white;
  text-decoration: none;

  padding: 0.8rem;
  border-radius: 15px;
  cursor: pointer;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1815d0;
  color: white;
  padding: 10px;
  border-radius: 10px;
}

h3 {
  color: white;
}

html {
  font-weight: normal;
}

.cartas-seccion3 {
  display: block;
  margin-top: 2rem;
}

.cartas {
  display: block;
  margin-top: 2rem;
}

@media (min-width: 768px) {
  .cartas-seccion3 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2rem;
    margin-top: 2rem;
  }
}

@media (min-width: 768px) {
  .cartas {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2rem;
    margin-top: 2rem;
  }
}

.cartas h3 {
  font-weight: normal;
}

.contenedor {
  background-color: #1815d0;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 2rem;
}

.botones {
  margin-left: 2rem;
  background-color: #313133;
  color: white;
  border-radius: 9px;
  border-color: black;
  text-transform: uppercase;
  margin-left: 10px;
}

.entradas {
  border-radius: 10px;
  border: none;
  display: block;
}

.cartas:hover {
  transform: translateY(-3%);
}

.entradas-1 {
  display: block;
  margin-bottom: 2rem;
}
